.nav-link{
    color: white !important;
    font-size: 20px;
}
.nav-link:hover{
  color:brown !important;
}

.navbar-brand img{
    width: 50%;
}
.navbar-brand:hover{
    color: azure;
}
.my-img{
    border-radius: ;

}







.hu__hu__ { animation: hu__hu__ infinite 2s ease-in-out }
@keyframes hu__hu__ {
    50% { transform: translateY(30px) }
}











@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #3E1E68;
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #FFACAC;
    top: 68%;
    left: 90%;
    animation-duration: 53s;
    animation-delay: -14s;
    transform-origin: 1vw 11vh;
    box-shadow: -40vmin 0 5.272031121339175vmin currentColor;
}
.background span:nth-child(1) {
    color: #E45A84;
    top: 75%;
    left: 33%;
    animation-duration: 25s;
    animation-delay: -18s;
    transform-origin: 10vw 3vh;
    box-shadow: 40vmin 0 5.252154647962548vmin currentColor;
}
.background span:nth-child(2) {
    color: #583C87;
    top: 64%;
    left: 40%;
    animation-duration: 11s;
    animation-delay: -22s;
    transform-origin: -9vw 11vh;
    box-shadow: -40vmin 0 5.039621465053313vmin currentColor;
}
.background span:nth-child(3) {
    color: #E45A84;
    top: 61%;
    left: 38%;
    animation-duration: 15s;
    animation-delay: -9s;
    transform-origin: 4vw 18vh;
    box-shadow: -40vmin 0 5.1906834222519285vmin currentColor;
}
.background span:nth-child(4) {
    color: #E45A84;
    top: 34%;
    left: 1%;
    animation-duration: 36s;
    animation-delay: -17s;
    transform-origin: -8vw 23vh;
    box-shadow: 40vmin 0 5.63664222069773vmin currentColor;
}
.background span:nth-child(5) {
    color: #FFACAC;
    top: 1%;
    left: 18%;
    animation-duration: 9s;
    animation-delay: -19s;
    transform-origin: 16vw -19vh;
    box-shadow: 40vmin 0 5.966147322022197vmin currentColor;
}
.background span:nth-child(6) {
    color: #E45A84;
    top: 71%;
    left: 3%;
    animation-duration: 48s;
    animation-delay: -47s;
    transform-origin: 25vw 21vh;
    box-shadow: -40vmin 0 5.557453362790717vmin currentColor;
}
.background span:nth-child(7) {
    color: #FFACAC;
    top: 55%;
    left: 61%;
    animation-duration: 7s;
    animation-delay: -48s;
    transform-origin: 12vw -7vh;
    box-shadow: -40vmin 0 5.900137429882096vmin currentColor;
}
.background span:nth-child(8) {
    color: #FFACAC;
    top: 59%;
    left: 60%;
    animation-duration: 48s;
    animation-delay: -18s;
    transform-origin: -21vw -4vh;
    box-shadow: 40vmin 0 5.82154126755188vmin currentColor;
}
.background span:nth-child(9) {
    color: #E45A84;
    top: 71%;
    left: 83%;
    animation-duration: 30s;
    animation-delay: -39s;
    transform-origin: 5vw -8vh;
    box-shadow: -40vmin 0 5.036513658254274vmin currentColor;
}
.background span:nth-child(10) {
    color: #583C87;
    top: 12%;
    left: 71%;
    animation-duration: 34s;
    animation-delay: -14s;
    transform-origin: 16vw 13vh;
    box-shadow: 40vmin 0 5.5737051820742245vmin currentColor;
}
.background span:nth-child(11) {
    color: #FFACAC;
    top: 62%;
    left: 13%;
    animation-duration: 16s;
    animation-delay: -40s;
    transform-origin: 13vw 0vh;
    box-shadow: 40vmin 0 5.074254134586889vmin currentColor;
}
.background span:nth-child(12) {
    color: #E45A84;
    top: 44%;
    left: 41%;
    animation-duration: 14s;
    animation-delay: -8s;
    transform-origin: 19vw 22vh;
    box-shadow: -40vmin 0 5.0596296812958945vmin currentColor;
}
.background span:nth-child(13) {
    color: #E45A84;
    top: 33%;
    left: 48%;
    animation-duration: 20s;
    animation-delay: -6s;
    transform-origin: -4vw -2vh;
    box-shadow: -40vmin 0 5.61778218149216vmin currentColor;
}
.background span:nth-child(14) {
    color: #E45A84;
    top: 19%;
    left: 49%;
    animation-duration: 22s;
    animation-delay: -31s;
    transform-origin: -18vw -14vh;
    box-shadow: -40vmin 0 5.705100134980688vmin currentColor;
}
.background span:nth-child(15) {
    color: #FFACAC;
    top: 31%;
    left: 97%;
    animation-duration: 11s;
    animation-delay: -5s;
    transform-origin: -6vw 14vh;
    box-shadow: -40vmin 0 5.805614283490119vmin currentColor;
}
.background span:nth-child(16) {
    color: #E45A84;
    top: 80%;
    left: 26%;
    animation-duration: 15s;
    animation-delay: -37s;
    transform-origin: 15vw -11vh;
    box-shadow: 40vmin 0 5.481276268539068vmin currentColor;
}
.background span:nth-child(17) {
    color: #E45A84;
    top: 50%;
    left: 84%;
    animation-duration: 45s;
    animation-delay: -25s;
    transform-origin: 13vw -10vh;
    box-shadow: -40vmin 0 5.514856578843016vmin currentColor;
}
.background span:nth-child(18) {
    color: #583C87;
    top: 51%;
    left: 74%;
    animation-duration: 54s;
    animation-delay: -10s;
    transform-origin: 4vw -5vh;
    box-shadow: 40vmin 0 5.181404097781576vmin currentColor;
}
.background span:nth-child(19) {
    color: #583C87;
    top: 44%;
    left: 45%;
    animation-duration: 35s;
    animation-delay: -35s;
    transform-origin: -12vw 22vh;
    box-shadow: 40vmin 0 5.010069452579151vmin currentColor;
}
